	html,body{height:  100%; margin:0; padding: 0} 
	body{font-family: arial,sans-serif; font-size: 76%} 

	.container{ /*nessuna regola necessaria*/ } 

	.header{
		background-color: #c4dced;
		overflow: hidden;
	} 

	.navigation{
    	background-image: url("https://leben-lieben-lassen.de/wp-content/uploads/2021/11/fractal-6592133-scaled.jpg"); 
    	background-repeat: no-repeat; 
    	background-attachment: scroll; 
    	color: #fff; 
    	padding-top: 2%; 
    	padding-bottom: 20%;
	} 

    .navigation1{
        background-image: url("https://www.buongiornonatura.it/wp-content/uploads/2020/08/Foto-Pixabay-1.jpg"); 
        background-repeat: no-repeat; 
        background-attachment: scroll; 
        color: #fff; 
        padding-top: 2%; 
        padding-bottom: 20%;
    } 
	
    .navigation2{
        background-image: url("https://i2.wp.com/piziadas.com/wp-content/uploads/2015/02/fractal.png"); 
        background-repeat: no-repeat; 
        background-attachment: scroll; 
        color: #fff; 
        padding-top: 2%; 
        padding-bottom: 20%;
    } 

    .navigation3{
        background-image: url("https://www.moduscc.it/wp-content/uploads/2017/05/SCI-051717-04-HD.jpg"); 
        background-repeat: no-repeat; 
        background-attachment: scroll; 
        color: #fff; 
        padding-top: 2%; 
        padding-bottom: 20%;
    } 

	.content{
        background-color: #ebf3f9;
        overflow: hidden;
        font-size: 150%;
        text-align: justify;
	}

	.footer {
    	position: relative;
    	bottom:0;
    	left:0;
    	width:100%;
    	background-color:#c4dced; 
    	margin-bottom: 5%;
    	color:#000; 
    	padding-top: 1%;
    }

    .spiegazione{
        font-size: 110%;
        margin-left: 50px ;
        margin-right: 225px;
    }

    .spiegazione2{
        font-size: 110%;
        margin-left: 50px ;
        margin-right: 225px;
    }
	
	.h3{
	   justify-content: normal; 
	}

    .titolo_sp{
        margin-left: 270px ;
        margin-top: 30px;
    }

    .titolo_spp{
        margin-left: 270px ;
        margin-top: 150px;
    }

    .imm{
        border-radius: 30px;
    }

    .imm2{
        border-radius: 30px;
        margin-left: 80px;
        width: 120px; 
        height: 120px; 
        margin-right: 20px; 
        margin-bottom: 10px;
    }

    .list{
        font-weight: bold;
    }

	.menu {
        font-family: Verdana,sans-serif ;
        font-size: 20px;
        margin: 0;
        padding: 0px;
        list-style: none;
        width: 100%;
        text-align: center;
    }

    .menu li {
        background-color: #ebf3f9;
        display: inline-block;
        width: 275px;
        height: 40px;
        margin: 2px;
    }

    .menu li a {
        color:  black;
        display: block;
        line-height: 40px;
        text-decoration: none;
        width: 275px;
        height: 40px;
        text-align: center;
    }

    .menu li.active, a.active, .menu li:hover a:hover{
        color:  ghostwhite;
        background-color: #74acd8;
    }

    .mail {
        font-family: Verdana,sans-serif ;
        font-size: 20px;
        margin: 0;
        padding: 0px;
        list-style: none;
        width: 100%;
        text-align: center;
    }

    .mail li{
        background-color: #ebf3f9;
        display: inline-block;
        width: 200px;
        height: 40px;
        margin: 2px;
        border-radius: 10px;
    }

    .mail li a {
        color:  black;
        display: block;
        line-height: 40px;
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .mail li.active, a.active, .mail li:hover a:hover{
        color:  ghostwhite;
        background-color: #74acd8;
        border-radius: 10px;
    }

    .news{
    	width: 350px;
    	height: 30px;
    	border-width: 0;
        border-radius: 10px;
    }

    .bottone{
    	background-color: #ebf3f9;
    	border-width: 0;
    	margin: 1%;
    	width: 90px;
    	height: 40px;
    	font-size: 150%;
        margin-bottom: 5%;
        border-radius: 10px;
    }

    .bottone button.active, button:hover{
        color:  ghostwhite;
        background-color:#74acd8 ;
    }

    .fo{
    	padding-top: 2%;
    	font-size: 170%;
    }

    .logo{
        width: 90px;
        height: 90px;
        margin-right: 25px;
        margin-top: 10px;
    }

    .titolo{
        font-family: sans-serif, Montserrat;
        font-size: 325%;
        margin-left: 2%;   
        font-weight: bold;
    }

    .images{
        text-align:center;
        margin:50px auto;
        margin: 0;
        padding: 0px;
        list-style: none;
        width: 100%;
    }
    .images a{
        margin:0px 40px;
        margin-bottom: 30px;
        display:inline-block;
        text-decoration:none;
        color:black;

    }

    .titolo_c{
        text-align: center;
        margin-top: 60px;
    }

    .titolo_f{
        text-align: center;
        font-weight: bold;
        font-size: 250%;
    }

    .form{
        text-align: center;
    }

    .caption{
        font-weight: bold;
    }i