html,body{height:  100%; margin:0; padding: 0} 
body{font-family: 'Montserrat';font-size: 22px; font-size: 76%} 

.header{
  background-color:chocolate;
  overflow: hidden;
  padding-bottom: 2%;
}

.navigation{
  overflow: hidden;
  background-color: chocolate;
}

.content{
  background-color: #1a1a1a;
  color: white;
  overflow: hidden;
  padding-top:40px;
}

.footer{
  background-color: chocolate ;
  color: white;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

h1{
  color: white;
  font-size: 300%;
  margin-top: 20px;
}

.imm3{
  width: 300px; 
  height: 300px; 
  margin-bottom: 10px;
  border-radius: 30px;
}

.images{
  text-align:center;
  margin:2% auto;
  margin: 0;
  padding: 0px;
  list-style: none;
  width: 100%;
}

.inl{
  margin:0px 40px;
  margin-bottom: 30px;
  display:inline-block;
  text-decoration:none;
  text-align: center;
}

.caption{
  color:white;
  font-size: 180%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.line{
  background-color: white;
  height:3px;
  margin-bottom: 0;
  margin-top: -1px;
}

.menu {
  font-size: 150%;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.menu li {
  background-color:#1a1a1a;
  display: inline-block;
}

.menu li a {
  color:  white;
  display: block;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
}

.menu li img {
  color:  white;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
}

.menu li.active, a.active, .menu li:hover a:hover{
  color:  white;
  background-color: #404040;
}

.menu li.active, img.active, .menu li:hover a:hover{
  color:  white;
  background-color: #595959;
}

.menu1 {
  font-size: 150%;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.menu1 li {
  margin-top: 2px;
  background-color:white;
  display: inline-block;
}

.menu1 li a {
  color:  black;
  display: block;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
}

.menu1 li img {
  color:  white;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
}

.menu1 li.active, a.active, .menu1 li:hover a:hover{
  color:  white;
  background-color: #cecece;
}

.imma{
  width: 50%;
  float:left;
  margin-left: 2%;
  margin-top: 2%;
}

.titolo_sp{
  text-align: center ;
  margin-top: 30px; 
  font-size:320%;  
  color:white;
}

.spiegazione{
  font-size: 150%;
  text-justify: distribute;
  margin: 2% auto;
  text-align: center;
}

a{
  text-align: center;
  color: white;
}

.imm4{
  width: 300px; 
  margin-bottom: 10px;
  margin: 0 auto;
  display:inline-block;
  text-align:center;
}

h2{
  color: white;
  font-size: 250%;
  margin-top: 20px;
  text-align: center;
  margin: 2% auto;
}

.ig{
  text-align: center;
  font-weight: bold;
  font-size: 275%;
  color:white;
  margin: 2% auto;
}

.cen{
  margin: 2% auto;
  text-align: center;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg1 {
  cursor: pointer;
  transition: 0.3s;
}

#myImg2 {
  cursor: pointer;
  transition: 0.3s;
}

#myImg4 {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#myImg1:hover {opacity: 0.7;}

#myImg2:hover {opacity: 0.7;}

#myImg3:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.caption{
  font-size: large;
  font-weight: bold;
  margin-top: 8px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.close3 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: #003399;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.thumbnail{
  position: relative;
  width: 200px;
  margin-left: 40px;
  margin: 10px auto;
  margin-top: 70px;
}

.clr{
  float:left;
}

input {
  padding: 10px;
  font-size: 17px;
  font-family: Raleway;
  color:black;
  border: 1px solid #aaaaaa;
  background-color: white;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

label{
  font-weight: bolder;
  font-size: 150%;
}

.dis{
  display:inline-block;
  width: 48%; 
  margin-left: 1%;
  margin-right: 1%;
}

.cen{
  margin: 0 auto;
  background-color: #595959;
  width: 30%;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px;
}

.spa{
  margin: 10px auto;
}

.dimens{
  padding: 4px;
  width:235px;
}

.immag{ 
  width: 80%;
  margin: 1%;
  display:inline-block;
  text-align:center;
  border-radius: 2vw;
}

.AM{
  background-color: #404040;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  border-radius: 20px;
  perspective: 1px;
}

.titotab{
  margin-top: 0;
  width:100%;
  font-size:2vw;
}

td{
  text-align: center;
  margin: 1%;
  text-justify: distribute-all-lines;
}

h3{
  font-size: 180%;
}

table{
  width: 100%;
  table-layout: fixed;
}